/* body{ 
    max-width: 1400px; 
    
} */
:root{
    --cblue: #1B00BF;
    --corange: #F18C14;
}
@font-face {
	font-family: 'Playfair Display'; 
	src: url(fonts/PlayfairDisplay.ttf); 
}
@font-face {
	font-family: 'PT Sans Narrow'; 
	src: url(fonts/PT_Sans-Narrow-Web-Regular.ttf); 
}
.playfair{
    color: var(--Font-Color, #000);
    font-family: Playfair Display;
    font-style: normal;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -1.81px;
    margin-bottom: 17px;
}
.narrow{
    color: #1B00BF;
    font-family: PT Sans Narrow;
    font-style: normal;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px; 
    letter-spacing: 1.667px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.narrow-black{
    color: var(--Font-Color, #000);
    font-family: PT Sans Narrow;
    font-size: 16.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.333px;
}
header, footer{
    background-color: #E9EBFE;
}
header{
    position: relative;
    padding: 140px 0;
}
header::after{
    display: block;
    content: '';
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background-color: white;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
.my-photo{
    max-width: 291px;
    height: auto;
    border-radius: 50%;
    margin-left: 90px;
}
.my-name{
    font-size: 105px;
    margin: 0;
    line-height: 93px; 
    margin-bottom: 0;

}
.btn.btn-itd{
    margin-top: 33px;
    display: block;
    max-width: 187px;
    background-color: var(--corange);
    border-radius: 0;
    padding: 15px 0;
    border: none;
}
.btn.btn-itd:hover{
    background-color: #fb9f30;
    text-decoration: none;
}
.contact{
    margin-bottom: 0;
}
section{
    margin-top: 75px;
    /* padding: 0 80px; */
}
.left-section{
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    gap: 83px;
}
.skill-list{
    display: flex;
    gap: 100px;
}
.interest-block{
    margin-bottom: 30px;
}

@media (min-width: 768px) { 
    section {
        padding: 0 110px;
    }
}
.works{
    color: var(--corange);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.rectangle{
    width: 60px;
    height: 8px;
    background-color: var(--corange);
    margin: 50px 0;
}
.item{
    margin-bottom: 50px;
}
.job{
    display: flex;
    justify-content: space-between;
}



